{% extends "layout.html" %}
{% block title %}Category Items{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/catalog">Item Catalog App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/catalog">Home</a></li>
    </ul>
	<div style="text-align:right">
		{% if session['username']!=null or session['access_token']!=null%}
		<button onclick="location.href='/gdisconnect'" class="btn btn-primary">Signout</button>
      {% endif %}
	</div>
  </div>
</nav>
  
<div class="container" style="width:800px;">
	<div class = 'pane' style="float:left">
		<h1>Categories</h1>
		{% for c in categories %}
		<p><a href="{{url_for('itemById',category_name=c.name)}}">{{c.name}}</a></p>
		{% endfor %}
	</div>
	<div style="float:right">
		<h1>Items for {{category.name}}</h1>
			{% for i in items %}
			<p><a href="{{url_for('itemDetail',category_name=category.name, item_name=i.name)}}">{{i.name}}</a></p>	
			{% endfor %}
	</div>
</div>
{% endblock %}